body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
}
header {
    background: black;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Sleek, modern font */
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff7799; /* Light pink background */
}
.logo {
    font-size: 24px;
    color: rgb(0, 0, 0);
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}